@font-face {
    font-family: lato;
    src: url(./fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: latosm;
    src: url(./fonts/Lato-Light.ttf);
}
@font-face {
    font-family: boldno;
    src: url(./fonts/Lato-Bold.ttf);
}

.normalbold{
    font-family: boldno;
    font-size: 1.3vw;

}
.style {
    font-family: lato;
}

.normaltext {
    font-family: latosm;
    font-size: 1.3vw;
}

.BottomRight {
    position: fixed;
    bottom: 0;
    right: 0;
}
.BottomLeft {
    position: fixed;
    bottom: 0;
    left: 0;
}

.imagesize {
    width: 10vw;height: auto;
    cursor: pointer;
}


.button-2 {
    appearance: none;
    background: none;
    border: none;
    outline: none;
  
    padding: 20px 40px;
    border-radius: 8px;
    color: #212121;
    font-size: 28px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  
  
.button-2 {
    color: #FFCE00;
    border: 3px solid #FFCE00;
    background-image: linear-gradient(to right, transparent 50%, #FFCE00 50%);
    background-size: 200%;
    background-position: 0%;
}
  
.button-2:hover {
    color: #FFF;
    background-position: 100%;
}
  
  
  
.centerthis{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 32px;
}
  
  